- name: Create DB
  mysql_db:
    name: "{{ db_name }}"
    state: present
  become: true

- name: Create DB User
  mysql_user:
    name: "{{ db_user }}"
    password: "{{ db_pass }}"
    priv: "{{ db_name }}.*:ALL"
    state: present
  become: true
