server {
    listen 80;
    server_name {{ domain }};

    root {{ app_root }}/public;
    index index.php index.html;

    access_log /var/log/nginx/ci4_access.log;
    error_log  /var/log/nginx/ci4_error.log;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php8.3-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }
}
